@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* Custom Color Palette - Brittany Chiang Style */
  --color-navy: #0a192f;
  /* Dark Blue Background */
  --color-light-navy: #112240;
  /* Slightly lighter (for cards) */
  --color-lightest-navy: #233554;
  /* Lightest navy */
  --color-slate: #8892b0;
  /* Main text color (grey-blue) */
  --color-light-slate: #a8b2d1;
  /* Brighter text */
  --color-lightest-slate: #ccd6f6;
  3`
  /* Brightest text (Headlines) */
  --color-white: #e6f1ff;
  /* White */
  --color-green: #64ffda;
  /* The Brittany "Teal/Green" */

  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", ui-monospace, "SF Mono", "Roboto Mono", monospace;
}